{% extends "store_base.html" %}
{% load static %}
{% block title %}Products{% endblock %}
{% block content %}

<main id="main" class="main">
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Products</h3>
            <a href="{% url "store_items_add" %}"><button type="submit" class="btn btn-primary">Add Product</button></a>
            <!-- Table with stripped rows -->
            <div class="table-responsive">
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Price</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  {% for pro in products %}
                  <tr>
                    <th scope="row">{{pro.id}}</th>
                    <td>{{pro.name}}</td>
                    <td>{{pro.stock}}</td>
                    <td>{{pro.price}}</td>
                    <td class="align-middle">
                      <a href="store_items_edit/{{pro.id}}" class="btn btn-outline-primary">Edit</a>
                    </td>
                    <td class="align-middle">
                      <a href="{% url 'store_items_delete' pro.id %}" class="btn btn-outline-danger">Delete</a>
                    </td>

                    {% comment %} {% if pro.is_listed %}
                    <td>
                      <a href="../../product_status/{{pro.id}}">
                        <button class="badge badge-danger" style="color:red;">Unlist</button>
                      </a>
                    </td>
                    {% else %}
                    <td>
                      <a href="../../product_status/{{pro.id}}">
                        <button class="badge badge-success" style="color:green;">List</button>
                      </a>
                    </td>
                    {% endif %}
                    <td>
                      <a href="../../edit_product/{{pro.id}}" class="btn btn-primary">Edit</a>
                    </td> {% endcomment %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- End Table with stripped rows -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
{% endblock %}
